[submodule "libraries/3rdparty/mbedtls"]
	path = libraries/3rdparty/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls
[submodule "libraries/3rdparty/tinycbor"]
	path = libraries/3rdparty/tinycbor
	url = https://github.com/intel/tinycbor
[submodule "libraries/aws/fleet-provisioning-for-aws-iot-embedded-sdk"]
	path = libraries/aws/fleet-provisioning-for-aws-iot-embedded-sdk
	url = https://github.com/aws/Fleet-Provisioning-for-AWS-IoT-embedded-sdk
[submodule "libraries/standard/backoffAlgorithm"]
	path = libraries/standard/backoffAlgorithm
	url = https://github.com/FreeRTOS/backoffAlgorithm
[submodule "libraries/standard/coreMQTT"]
	path = libraries/standard/coreMQTT
	url = https://github.com/FreeRTOS/coreMQTT/
[submodule "libraries/standard/corePKCS11"]
	path = libraries/standard/corePKCS11
	url = https://github.com/FreeRTOS/corePKCS11
[submodule "libraries/standard/coreMQTT-Agent"]
	path = libraries/standard/coreMQTT-Agent
	url = https://github.com/FreeRTOS/coreMQTT-Agent
[submodule "tests/common/Unity"]
	path = tests/common/Unity
	url = https://github.com/ThrowTheSwitch/Unity
